In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r'C:\Users\Deepak kumar\Downloads\kc_house_data.csv')

In [3]:
df1=df.drop(['id','date'],axis=1)

In [4]:
df1.head(2)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

In [5]:
df1.shape

(21597, 19)

In [6]:
import numpy as np
def out_lier_remove(df1):
    for i in range(df1.shape[1]):
        m=df1.iloc[:,i]
        mean=np.mean(m)
        std=np.std(m)
        for j in m:
            z=(j-mean)/std
            if(z>3) or (z<-3):
                df1=df1[df1.iloc[:,i]!=j]
    return df1

In [7]:
df1_updated=out_lier_remove(df1)

In [8]:
data1=df1_updated.to_csv('clean_kc_house.csv',index=False)

In [9]:
data1=pd.read_csv("clean_kc_house.csv")

In [10]:
data1

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
3,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
4,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18079,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
18080,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
18081,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
18082,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
18083,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [11]:
data2=data1.drop("yr_built",axis=1)

In [12]:
data2=data1.drop(["waterfront","yr_renovated"],axis=1) #both has no variation

In [13]:
data2

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,sqft_above,sqft_basement,yr_built,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,3,7,1180,0,1955,98178,47.5112,-122.257,1340,5650
1,180000.0,2,1.00,770,10000,1.0,0,3,6,770,0,1933,98028,47.7379,-122.233,2720,8062
2,604000.0,4,3.00,1960,5000,1.0,0,5,7,1050,910,1965,98136,47.5208,-122.393,1360,5000
3,510000.0,3,2.00,1680,8080,1.0,0,3,8,1680,0,1987,98074,47.6168,-122.045,1800,7503
4,257500.0,3,2.25,1715,6819,2.0,0,3,7,1715,0,1995,98003,47.3097,-122.327,2238,6819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18079,360000.0,3,2.50,1530,1131,3.0,0,3,8,1530,0,2009,98103,47.6993,-122.346,1530,1509
18080,400000.0,4,2.50,2310,5813,2.0,0,3,8,2310,0,2014,98146,47.5107,-122.362,1830,7200
18081,402101.0,2,0.75,1020,1350,2.0,0,3,7,1020,0,2009,98144,47.5944,-122.299,1020,2007
18082,400000.0,3,2.50,1600,2388,2.0,0,3,8,1600,0,2004,98027,47.5345,-122.069,1410,1287
18083,325000.0,2,0.75,1020,1076,2.0,0,3,7,1020,0,2008,98144,47.5941,-122.299,1020,1357

In [14]:
data2.corr()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,sqft_above,sqft_basement,yr_built,zipcode,lat,long,sqft_living15,sqft_lot15
price,1.000000,0.288292,0.412194,0.589369,0.067654,0.262176,0.173220,0.068732,0.600216,0.492783,0.215933,0.033971,-0.022365,0.440626,0.051141,0.514290,0.070520
bedrooms,0.288292,1.000000,0.479945,0.613435,0.118496,0.153202,0.033160,0.027772,0.324488,0.486394,0.271444,0.168053,-0.175552,-0.046536,0.175233,0.400499,0.132889
bathrooms,0.412194,0.479945,1.000000,0.699660,0.031586,0.518269,0.055882,-0.138630,0.605947,0.617805,0.198564,0.582255,-0.227376,-0.014477,0.277219,0.519995,0.042746
sqft_living,0.589369,0.613435,0.699660,1.000000,0.205646,0.349273,0.109702,-0.063640,0.686064,0.846562,0.347990,0.358829,-0.221299,0.018983,0.300593,0.732809,0.229471
sqft_lot,0.067654,0.118496,0.031586,0.205646,1.000000,-0.138524,0.024532,0.054316,0.107417,0.186718,0.049324,0.002556,-0.178818,-0.058586,0.251611,0.259357,0.807468
floors,0.262176,0.153202,0.518269,0.349273,-0.138524,1.000000,-0.021832,-0.284220,0.471730,0.536845,-0.303208,0.535068,-0.066851,0.030961,0.145990,0.266643,-0.148075
view,0.173220,0.033160,0.055882,0.109702,0.024532,-0.021832,1.000000,0.032685,0.095510,0.029699,0.149434,-0.067815,0.094347,0.011693,-0.082480,0.135832,0.005504
condition,0.068732,0.027772,-0.138630,-0.063640,0.054316,-0.284220,0.032685,1.000000,-0.176378,-0.177374,0.195366,-0.396454,-0.000236,-0.002296,-0.097066,-0.112605,0.066424
grade,0.600216,0.324488,0.605947,0.686064,0.107417,0.471730,0.095510,-0.176378,1.000000,0.691512,0.043743,0.498267,-0.195137,0.095326,0.237758,0.647869,0.142819
sqft_above,0.492783,0.486394,0.617805,0.846562,0.186718,0.536845,0.029699,-0.177374,0.691512,1.000000,-0.204426,0.468684,-0.290652,-0.048965,0.411113,0.712636,0.216399
sqft_basement,0.215933,0.271444,0.198564,0.347990,0.049324,-0.303208,0.149434,0.195366,0.043743,-0.204426,1.000000,-0.165585,0.104943,0.121151,-0.171283,0.092503,0.040863
yr_built,0.033971,0.168053,0.582255,0.358829,0.002556,0.535068,-0.067815,-0.396454,0.498267,0.468684,-0.165585,1.000000,-0.337498,-0.161839,0.423808,0.345871,0.027941
zipcode,-0.022365,-0.175552,-0.227376,-0.221299,-0.178818,-0.066851,0.094347,-0.000236,-0.195137,-0.290652,0.104943,-0.337498,1.000000,0.282770,-0.578244,-0.303952,-0.204272
lat,0.440626,-0.046536,-0.014477,0.018983,-0.058586,0.030961,0.011693,-0.002296,0.095326,-0.048965,0.121151,-0.161839,0.282770,1.000000,-0.133460,0.015170,-0.053149
long,0.051141,0.175233,0.277219,0.300593,0.251611,0.145990,-0.082480,-0.097066,0.237758,0.411113,-0.171283,0.423808,-0.578244,-0.133460,1.000000,0.402925,0.299154
sqft_living15,0.514290,0.400499,0.519995,0.732809,0.259357,0.266643,0.135832,-0.112605,0.647869,0.712636,0.092503,0.345871,-0.303952,0.015170,0.402925,1.000000,0.311698
sqft_lot15,0.070520,0.132889,0.042746,0.229471,0.807468,-0.148075,0.005504,0.066424,0.142819,0.216399,0.040863,0.027941,-0.204272,-0.053149,0.299154,0.311698,1.000000

In [15]:
x=data2.drop('price',axis=1)

In [16]:
y=data2['price']

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3,random_state=0)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [20]:
model.coef_

array([-1.29854311e+04,  2.25190791e+04,  6.28444537e+01,  6.67845348e-01,
        2.99983592e+04,  3.65966738e+04,  2.91552874e+04,  8.45894437e+04,
        3.62898659e+01,  2.65545877e+01, -2.14945802e+03, -3.00373359e+02,
        5.67420154e+05, -7.80406524e+04,  4.54146319e+01, -2.61782067e+00])

In [21]:
model.intercept_

-3396429.0882296804

In [22]:
model.score(x_train,y_train)

0.6611783795812218

In [23]:
model.score(x_test,y_test)

0.6586959678571631

In [43]:
x_train.shape

(12056, 18)

# PCA--->>Principle Component Analysis

PCA use for the Feature Selection process

In [46]:
from sklearn.decomposition import PCA
obj=PCA(n_components=14)       #now columns will become from 18 to 14
obj.fit(x_train)
x_train=obj.transform(x_train)
x_test=obj.transform(x_test)

In [47]:
x_train.shape #now x_train has only 14 columns

(12056, 14)

In [48]:
model=LinearRegression()
model.fit(x_train,y_train)

ValueError: Found input variables with inconsistent numbers of samples: [12056, 21597]

In [24]:
df1_updated.shape

(18084, 19)

In [25]:
df1_updated.head(2)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.0,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
2,180000.0,2,1.0,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

In [26]:
y=df1_updated[['price']]

In [27]:
y.head(1)

      price
0  221900.0

In [28]:
x=df1_updated.drop('price',axis=1)

In [29]:
x.head(1)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.0,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3,random_state=0)

after using train_test_split we can do any kind of operation 'row' wise

if we do remove a row from x_train(99 row) after using train_test_split so there will be one row extra in y_train(100 row) but row should be equal after train_test_split

it is supervised_lerning(label data) means equal row should be

but can do same column wise

In [31]:
Convert_1D=y_train.price

In [32]:
from scipy.stats import boxcox
y_train1 = boxcox(Convert_1D)

In [33]:
y_train1

(array([13.2295559 , 13.32999145, 13.14257423, ..., 13.55156542,
        13.90697886, 13.16335256]),
 0.006115726581560685)

In [34]:
boxcox_price = y_train1[0]
boxcox_price

array([13.2295559 , 13.32999145, 13.14257423, ..., 13.55156542,
       13.90697886, 13.16335256])

# y_test

In [35]:
Convert_1D=y_test.price

In [36]:
from scipy.stats import boxcox
y_test1 = boxcox(Convert_1D)
boxcox_price = y_test1[0]
boxcox_price

array([15.05169455, 13.01312743, 13.54439619, ..., 14.34257658,
       13.09368319, 13.64406091])

In [37]:
x_train.shape

(12056, 18)

In [38]:
x_test.shape

(6028, 18)

In [39]:
x_train.corr()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
bedrooms,1.000000,0.480350,0.615492,0.120682,0.151299,NaN,0.034679,0.033508,0.327706,0.489510,0.275410,0.172579,NaN,-0.182101,-0.041234,0.182128,0.401183,0.135596
bathrooms,0.480350,1.000000,0.696574,0.031131,0.517819,NaN,0.062658,-0.140216,0.604878,0.616080,0.203008,0.582278,NaN,-0.225080,-0.008968,0.276219,0.515674,0.042691
sqft_living,0.615492,0.696574,1.000000,0.206660,0.346897,NaN,0.110122,-0.064950,0.686521,0.845986,0.358760,0.359802,NaN,-0.223047,0.023661,0.304385,0.728643,0.230809
sqft_lot,0.120682,0.031131,0.206660,1.000000,-0.141997,NaN,0.024826,0.046293,0.112337,0.183157,0.059566,0.000433,NaN,-0.176210,-0.051571,0.249547,0.268722,0.808218
floors,0.151299,0.517819,0.346897,-0.141997,1.000000,NaN,-0.017285,-0.280739,0.465586,0.535013,-0.298393,0.534682,NaN,-0.065401,0.035609,0.147748,0.263604,-0.148002
waterfront,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
view,0.034679,0.062658,0.110122,0.024826,-0.017285,NaN,1.000000,0.026424,0.100226,0.032777,0.145217,-0.063543,NaN,0.097974,0.012746,-0.076578,0.127199,0.008067
condition,0.033508,-0.140216,-0.064950,0.046293,-0.280739,NaN,0.026424,1.000000,-0.184486,-0.179619,0.194951,-0.396469,NaN,-0.003127,0.001906,-0.092917,-0.117076,0.060800
grade,0.327706,0.604878,0.686521,0.112337,0.465586,NaN,0.100226,-0.184486,1.000000,0.692122,0.051393,0.503898,NaN,-0.195115,0.095549,0.240255,0.643125,0.146781
sqft_above,0.489510,0.616080,0.845986,0.183157,0.535013,NaN,0.032777,-0.179619,0.692122,1.000000,-0.194204,0.468692,NaN,-0.294136,-0.046426,0.412837,0.712552,0.215129
sqft_basement,0.275410,0.203008,0.358760,0.059566,-0.298393,NaN,0.145217,0.194951,0.051393,-0.194204,1.000000,-0.158550,NaN,0.104565,0.124804,-0.162722,0.093122,0.048025
yr_built,0.172579,0.582278,0.359802,0.000433,0.534682,NaN,-0.063543,-0.396469,0.503898,0.468692,-0.158550,1.000000,NaN,-0.339866,-0.160335,0.420300,0.346217,0.024714
yr_renovated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zipcode,-0.182101,-0.225080,-0.223047,-0.176210,-0.065401,NaN,0.097974,-0.003127,-0.195115,-0.294136,0.104565,-0.339866,NaN,1.000000,0.291752,-0.577572,-0.309475,-0.205165
lat,-0.041234,-0.008968,0.023661,-0.051571,0.035609,NaN,0.012746,0.001906,0.095549,-0.046426,0.124804,-0.160335,NaN,0.291752,1.000000,-0.130485,0.013747,-0.047475
long,0.182128,0.276219,0.304385,0.249547,0.147748,NaN,-0.076578,-0.092917,0.240255,0.412837,-0.162722,0.420300,NaN,-0.577572,-0.130485,1.000000,0.410234,0.300736
sqft_living15,0.401183,0.515674,0.728643,0.268722,0.263604,NaN,0.127199,-0.117076,0.643125,0.712552,0.093122,0.346217,NaN,-0.309475,0.013747,0.410234,1.000000,0.318853
sqft_lot15,0.135596,0.042691,0.230809,0.808218,-0.148002,NaN,0.008067,0.060800,0.146781,0.215129,0.048025,0.024714,NaN,-0.205165,-0.047475,0.300736,0.318853,1.000000

# StandardScaler

In [40]:
from sklearn.preprocessing import StandardScaler

In [41]:
obj=StandardScaler()
obj.fit(df1)
y_train=obj.transform(df1)
# y_test=obj.transform(df1)

In [42]:
df1

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21593,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21594,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21595,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21596,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357